

*{
    padding: 0px;
    margin: 0px;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden; /* Hide scrollbars */

}

.continer{
    position: absolute;
    top:42%;
    width: 83%;
    left: 10%;
    height: 50%;
    background-color: rgba(128, 128, 128, 0.432);
    border-radius: 3px;
    box-shadow: 0 0 2.4rem 0.4rem rgba(0, 255, 255, 0.447);
}
.continer-name{
    padding:10px;
}
.continer-name-span{
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    border-radius: 1px;
    background-color: black;
}

/* slash */
.continer-slash{
    border-radius: 50%;
    position:relative;
    width: 15%; height:2px;
    background: #ffffff;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.continer-slash:before, .continer-slash:after{
    content: '';
    position: absolute;
}
.continer-slash:before{
    top: 0; left: 0;
    border-bottom: 99px solid transparent;
}
.continer-slash:after{
    bottom: 0; right: 0;
    border-top: 99px solid transparent;
}

.CA-p{
    margin: 5px;
}

/* slash */



/* CA button */

.CA{
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

.CA-button{
    display: flex;
    margin: 5px;
    flex-flow: wrap;
    width: 23.5%;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.289);
    transition: 0.6s;
    border-radius: 2.5px;
    cursor: pointer;
}

.CA-button:hover{
    background-color: #0de6e6;
    box-shadow: 0px 0px 100px #0de6db;
}
.CA-button-p{
    width: 250px;
    margin-top: 5px;
}
#CA-button-img{
    padding: 5px 5px;
}
.continer-name-text{
    display: flex;
}

/* // CA button // */