
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    user-select: none;
    overflow: hidden;
    /* z-index: 7; */
}

.storeall {
    height: 100%;
    background: linear-gradient(90deg, #d9dae1b1 0%, rgba(2, 4, 12, 0.524) 100%);
    background:radial-gradient(ellipse at center, rgba(1, 1, 1, 0), rgba(1, 1, 1, 1));
    /* background-color: black; */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}


.storecorner1{
    position: fixed;
    width: 107px;
    height: 114px;
    left: 0px;
    top: -5px; 
    /* transform: rotate(90deg); */
}

.storecorner2{
    position: fixed;
    bottom: 190px;
    left: 0;
    width: 107px;
    height: 114px;
    /* left: 0px;
    top: 780px;  */
    /* transform: rotate(90deg); */
}

.storecorner4{
    position: fixed;
    bottom: 190px;
    right: 180px;
    width: 107px;
    height: 114px;
    /* left: 0px;
    top: 780px;  */
    /* transform: rotate(90deg); */
}


.storetoptext{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    width: 50px;
  
    font-weight: 800;

    left: 2%;
    top: 3%; 
    font-size: 32px;
    color: #FF0642;

}

.storetoptext2{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    width: 90px;
    left: 2.1%;
    top: 10.4%; 
    font-size: 24px;
    background: linear-gradient(97.1deg, #FFFFFF 0%, #929292 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;
    
}


.storetoptext3{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    width: 250px;
  
    font-weight: 500;

    left: 12%;
    top: 4.5%; 
    font-size: 12px;
    color: rgba(255, 255, 255, 0.25);
}


.storeleftmenu{
    position: absolute;
    left: 1.5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    white-space: normal;
    flex-wrap: wrap;

    /* max-width: 40%; */
    max-height: 70%;
    /* background-color: red; */

}

.storeleftmenu_item{
width: 75px !important;
height: 75px !important;
border: 1px solid #FFFFFF0A;
background: linear-gradient(45deg, rgba(255, 255, 255, 0.1008) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04); border-radius: 2px;
cursor: pointer;
overflow: hidden;
margin-top: 5px;
margin-left: 10px;
}

.storeleftmenu_item:hover{
    background: linear-gradient(315deg, rgba(255, 6, 66, 0.32) 0%, rgba(255, 6, 66, 0) 100%); border: 1px solid rgba(255, 6, 66, 0.94); border-radius: 2px;
}


.storeleftmenu_item_name{
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    color: #ffffffc3;
    font-weight: 400;
}

.storeleftmenu_item_img{
    /* margin: 50px; */
    margin-left: 30px;
    margin-top: -5px;
    width: 55px;
    height: 60px;
    opacity: 0.6;
    z-index: -1;
}



.storehairmenu{
    position: absolute;
    left: 8.5%;
    top: 15%;
    display: flex;
    flex-direction: row;
    white-space: normal;
    flex-wrap: wrap;
    align-content: flex-start;
    /* max-width: 40%; */
    width: 360px;
    height: 60%;
    overflow: auto;
   
    /* background-color: rgb(21, 130, 213); */

}

.storehairmenu_category_empty{
    width: 100%;
    height: 90px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.028) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04);  /* Note: backdrop-filter has minimal browser support */ border-radius: 2px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.storehairmenu_category_empty_textpart{
   display: block;
   width: 90%;
   font-family: 'Kanit', sans-serif;
   font-size: 13px;
   color: #ffffffc3;
   /* background-color: red; */
   /* margin: auto; */
   margin-top: 20px;
   margin-left: 17px;
   
}


.storehairmenu_category_empty_textpart_1{
    float: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.storehairmenu_category_empty_textpart_2{
    float: right;
    text-transform: uppercase;
    color: #FFFFFF;

}

.storehairmenu_category_empty_inputpart{
    display: block;
    width: 90%;
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    color: #ffffffc3;
    /* background-color: red; */
    /* margin: auto; */
    margin-top: 12px;
    margin-left: 17px;
   
  
}

.rangeclass{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 2px;
    background: rgba(217, 217, 217, 0.15);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 0px;
}


.rangeclass::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius: 30%;
background: #f7f2f2;
cursor: pointer;
}
  
.rangeclass::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 30%;
background: #413d3d;
cursor: pointer;
}



.storehairmenu_category_empty_colorpart{
    display: flex;
    flex-direction: row;
    width: 95%;
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    
    color: #ffffffc3;
    /* background-color: red; */
    /* margin: auto; */
    margin-top: 22px;
    margin-left: 17px;
    flex-wrap: wrap;
}


.storehairmenu_category_empty_colorpart_item{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(255, 173, 51, 0.56) 0%, #FFAD33 0.01%, rgba(255, 173, 51, 0) 100%); border: 1px solid #FFAD33; border-radius: 2px;
}





/* width */
::-webkit-scrollbar {
    width: 5px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    width: 2px;
    background: rgba(217, 217, 217, 0.17);
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff9c;
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff9c;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
 
  
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
 
    /* margin-top: 10px; */
}


.storecorner3{
    position: fixed;
    top: 0px;
    right: 179px;
    width: 107px;
    height: 114px;

}

.clothingrightclose{
    position: absolute;
    right: 40px;
    top: 35px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.clothingrightclose_text{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: white;
    margin-top: 5px;
    margin-right: 15px;
}


.clothingrightclose_icon{
    width: 30px;
    height: 30px;
    background: #FF003D;
box-shadow: 0px 10px 24px rgba(255, 0, 61, 0.54);
border-radius: 2px;
}




.storehairmenu_bottom{
    position: absolute;
    left: 8.5%;
    top: 75.5%;
    display: flex;
    flex-direction: row;
    white-space: normal;
    flex-wrap: wrap;
    align-content: flex-start;
    /* max-width: 40%; */
    width: 360px;
    /* height: 20%; */
    overflow: auto;
   
    /* background-color: red; */

}



.storerightmenu_bottom1{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.1008) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04); border-radius: 2px; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 10px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1008) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04); border-radius: 2px;


}

.storerightmenu_bottom1_text{
    /* width: 50px; */
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 13px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 15px;
}



.storerightmenu_bottom1_text2{
    /* width: 50px; */
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 13px;
    opacity: 0.5;
    margin-left: 140px;
    margin-top: 15px;
    letter-spacing: 0.14em;
    color: #3AFF89;
}


.storerightmenu_bottom2{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.1008) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04); border-radius: 2px; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 10px;
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.1008) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04); border-radius: 2px; */


}

.storerightmenu_bottom2_button1{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1008) 0%, rgba(255, 255, 255, 0) 100%); border: 1px solid rgba(255, 255, 255, 0.04); border-radius: 2px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.storerightmenu_bottom2_button1:hover{
    background: linear-gradient(45deg, rgba(86, 255, 58, 0.2688) 0%, rgba(86, 255, 58, 0) 100%); border: 1px solid #56FF3A; border-radius: 2px;
}

.storerightmenu_bottom2_button1_img{
    width: 20px;
    margin-top: 15px;
    margin-left: 25px;
    opacity: 0.5;
}

.storerightmenu_bottom2_button1_text{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 15px;
    margin-left: 15px;
}


.rotatediv{
    position: absolute;
    width: 300px;
    height: 300px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
}


.rotatetext_all{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* height: 50px; */
    zoom: 0.9;
    margin-top: -150px;
    margin-left: 150px;
    
}

.rotatetext{

    /* width: 300px; */
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    color: white;
   
    opacity: 0.7;
    /* background-color: #56FF3A; */
}


.storetoptext5{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    width: 250px;
  
    font-weight: 500;

    left: 27%;
    top: 4.5%; 
    font-size: 12px;
    color: rgb(232, 215, 215);
    display: flex;
    flex-direction: row;
}

.storetoptext5_1{
    width: 25px;
    height: 25px;
    background: linear-gradient(45deg, rgba(255, 6, 66, 0.2688) 0%, rgba(255, 6, 66, 0) 100%); border: 1px solid #FF0642; border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;

}

.storetoptext5_1:hover{
    background: rgba(255, 6, 66, 0.2688);
    border: 1px solid #FF0642;
}

.hover{
    background: linear-gradient(45deg, rgba(255, 6, 66, 0.2688) 0%, rgba(255, 6, 66, 0) 100%); border: 1px solid #FF0642; border-radius: 2px;
}


.notify{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -200px;
    width: 400px;
    /* height: 80px; */
    padding: 30px;
    color: rgba(255, 255, 255, 0.495);
    text-transform: uppercase;
    background: linear-gradient(45deg, rgba(77, 54, 54, 0.101) 0%, rgba(61, 62, 61, 0.676) 100%); 
    border: 2px dotted rgb(85, 85, 94);
    border-radius: 4px;

  
    text-align: center;
    
}


/* ---------------------------------------- media --------------------------------------------------------------------------------------------------  */


@media screen and (max-width: 1600px) and (min-width: 1460px) and (max-height: 900px) {
   .storeleftmenu{
    zoom: 0.9;
   }

   .storehairmenu{
    zoom: 0.9;
   }

   .storehairmenu_bottom{
    zoom: 0.9;
   }

   .storetoptext5{
    zoom: 0.9;
   }

   .storetoptext3{
    zoom: 0.9;
   }

   .storetoptext2{
    zoom:0.9;
   }

   .storetoptext{
    zoom:0.9;
   }

   .clothingrightclose{
    zoom:0.9;
   }
   
   

  
}



@media screen and (max-width: 1440px) and (min-width: 1400px) {
    .storeleftmenu{
        zoom: 0.8;
       }
    
       .storehairmenu{
        zoom: 0.8;
       }
    
       .storehairmenu_bottom{
        zoom: 0.8;
       }
    
       .storetoptext5{
        zoom: 0.8;
       }
    
       .storetoptext3{
        zoom: 0.8;
       }
    
       .storetoptext2{
        zoom:0.8;
       }
    
       .storetoptext{
        zoom:0.8;
       }
    
       .clothingrightclose{
        zoom:0.8;
       }
}



@media screen and (max-width: 1366px) and (min-width:1300px) {
    .storeleftmenu{
        zoom: 0.8;
       }
    
       .storehairmenu{
        zoom: 0.8;
       }
    
       .storehairmenu_bottom{
        zoom: 0.8;
       }
    
       .storetoptext5{
        zoom: 0.8;
       }
    
       .storetoptext3{
        zoom: 0.8;
       }
    
       .storetoptext2{
        zoom:0.8;
       }
    
       .storetoptext{
        zoom:0.8;
       }
    
       .clothingrightclose{
        zoom:0.8;
       }
}